1

<div>
    На рисунке справа схема дорог Н-ского района изображена в виде графа, в таблице содержатся сведения о длинах этих
    дорог (в километрах).
    <br/><img src="1604.gif"/>Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов
    в таблице никак не связана с буквенными обозначениями на графе.
    Известно, что длина кратчайшего пути из пункта A в пункт Д не превышает 30 километров. Определите длину кратчайшего
    пути между пунктами Ж и Г.') );
    (№ 1604) На рисунке справа схема дорог Н-ского района изображена в виде графа, в таблице содержатся сведения о
    длинах этих дорог (в километрах).
    Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов в таблице никак не
    связана с буквенными обозначениями на графе.
    Известно, что длина кратчайшего пути из пункта A в пункт Д не превышает 30 километров. Определите длину кратчайшего
    пути между пунктами Ж и Г.
</div>


2
<div>
    Логическая функция F задаётся выражением ((&not;y &rarr; w) &rarr; (x &rarr; z)) &rarr; (x &rarr; w).
    <br/><img src="1634.gif"/>На рисунке приведён частично заполненный фрагмент таблицы истинности функции F, содержащий
    неповторяющиеся строки.
    Определите, какому столбцу таблицы истинности функции F соответствует каждая из переменных x, y, z, w.') );

    Логическая функция F задаётся выражением ((¬y → w) → (x → z)) → (x → w). На рисунке приведён частично заполненный
    фрагмент таблицы истинности функции F,
    содержащий неповторяющиеся строки. Определите, какому столбцу таблицы истинности функции F соответствует каждая из
    переменных x, y, z, w.
</div>


3

document.write( '(№&nbsp;1661) ' );
document.write( changeImageFilePath('В фрагменте базы данных представлены сведения о родственных отношениях. Определите максимальную разницу между годами рождения двух родных брата и сестры.
<br/><img src="1661.gif"/>') );
(№ 1661) В фрагменте базы данных представлены сведения о родственных отношениях. Определите максимальную разницу между годами рождения двух родных брата и сестры.

4
document.write( '(№&nbsp;1709) ' );
document.write( changeImageFilePath('По каналу связи передаются сообщения, содержащие только семь букв: А, Б, В, Г, Д, Е и Ж. Для передачи используется двоичный код, удовлетворяющий условию Фано. Для буквы А используется кодовое слово 10; для буквы Б используется кодовое слово 011. Какова минимальная общая длина кодовых слов для всех семи букв?') );
(№ 1709) По каналу связи передаются сообщения, содержащие только семь букв: А, Б, В, Г, Д, Е и Ж. Для передачи используется двоичный код, удовлетворяющий условию Фано. Для буквы А используется кодовое слово 10; для буквы Б используется кодовое слово 011. Какова минимальная общая длина кодовых слов для всех семи букв?
5
document.write( '(№&nbsp;1787) ' );
document.write( changeImageFilePath('На вход алгоритма подаётся натуральное число N. Алгоритм строит по нему новое число R следующим образом.
<br/>
<div class="lmar">1) Строится двоичная запись числа N.<br/>2) Затем справа дописываются два разряда: символы 01, если
    число N чётное, и 10, если нечётное.Полученная таким образом запись (в ней на два разряда больше, чем в записи
    исходного числа N) является двоичной записью искомого числа R. Укажите минимальное число N, после обработки которого
    автомат получает число, большее 97. В ответе это число запишите в десятичной системе.') );
    (№ 1787) На вход алгоритма подаётся натуральное число N. Алгоритм строит по нему новое число R следующим образом.1)
    Строится двоичная запись числа N.2) Затем справа дописываются два разряда: символы 01, если число N чётное, и 10,
    если нечётное.Полученная таким образом запись (в ней на два разряда больше, чем в записи исходного числа N) является
    двоичной записью искомого числа R. Укажите минимальное число N, после обработки которого автомат получает число,
    большее 97. В ответе это число запишите в десятичной системе.
    6
    document.write( '(№&nbsp;1810) ' );
    document.write( changeImageFilePath('(А.Г. Минак) Определите, при каком наименьшем введённом значении переменной s
    программа выведет число 10.<br/>
    <table class="code">
        <tr>
            <th>Паскаль
            <th>Python
            <th>С++
                var s, n: integer;begin readln (s); n := 0; while s begin s := s * 2; n := n + 5 end; writeln(n)end.
                s = int(input())n = 0while s s = s * 2 n = n + 5print(n)
                #include
                <iostream>using namespace std;int main() { int s, n = 0;cin >> s; while (s s = s * 2; n = n + 5; }cout
                    return 0;}
                    var s, n: integer;begin readln (s); n := 0; while s < 1000 do begin s := s * 2; n := n + 5 end;
                    writeln(n)end.
                    s = int(input())n = 0while s < 1000: s = s * 2 n = n + 5print(n)
                    #include
                    <iostream>using namespace std;int main() { int s, n = 0;cin >> s; while (s < 1000) { s = s * 2; n =
                        n + 5; }cout << n << endl;return 0;}
                        7
                        document.write( '(№&nbsp;1882) ' );
                        document.write( changeImageFilePath('Музыкальный фрагмент был записан в формате стерео
                        (двухканальная запись), оцифрован и сохранён в виде файла без использования сжатия данных.
                        Размер полученного файла – 35 Мбайт. Затем тот же музыкальный фрагмент был записан повторно в
                        формате моно и оцифрован с разрешением в 3 раза выше и частотой дискретизации в 3,5 раз меньше,
                        чем в первый раз. Сжатие данных не производилось. Укажите размер файла в Мбайт, полученного при
                        повторной записи. В ответе запишите только целое число, единицу измерения писать не нужно.') );
                        (№ 1882) Музыкальный фрагмент был записан в формате стерео (двухканальная запись), оцифрован и
                        сохранён в виде файла без использования сжатия данных. Размер полученного файла – 35 Мбайт.
                        Затем тот же музыкальный фрагмент был записан повторно в формате моно и оцифрован с разрешением
                        в 3 раза выше и частотой дискретизации в 3,5 раз меньше, чем в первый раз. Сжатие данных не
                        производилось. Укажите размер файла в Мбайт, полученного при повторной записи. В ответе запишите
                        только целое число, единицу измерения писать не нужно.
                        8
                        document.write( '(№&nbsp;1959) ' );
                        document.write( changeImageFilePath('(А.Н. Носкин) Петя составляет семибуквенные слова
                        перестановкой букв слова АССАСИН. Сколько всего различных слов может составить Петя?') );
                        (№ 1959) (А.Н. Носкин) Петя составляет семибуквенные слова перестановкой букв слова АССАСИН.
                        Сколько всего различных слов может составить Петя?
                        9
                        document.write( '(№&nbsp;2511) ' );
                        document.write( changeImageFilePath('(А. Кабанов) Откройте файл электронной таблицы <a
                                href="ege-xls/9-0.xls">9-0.xls, содержащей результаты ежечасного измерения температуры
                            воздуха на протяжении трёх месяцев. Определите, сколько раз за время наблюдений
                            среднесуточная температура превышала 30 градусов.') );
                            (№ 2511) (А. Кабанов) Откройте файл электронной таблицы 9-0.xls, содержащей результаты
                            ежечасного измерения температуры воздуха на протяжении трёх месяцев. Определите, сколько раз
                            за время наблюдений среднесуточная температура превышала 30 градусов.
                            10
                            document.write( '(№&nbsp;2032) ' );
                            document.write( changeImageFilePath('(Е. Джобс) С помощью текстового редактора определите,
                            сколько раз, не считая сносок, встречается слово «Это» в тексте сказки Р.&nbsp;Киплинга
                            «Маугли» в файле <a href="ege-txt/10-j3.docx">10-j3.docx. При подсчете не учитывать слова, в
                                которые входит обозначенное и слова в другом регистре, например, «это». В ответе укажите
                                найденное количество.') );
                                (№ 2032) (Е. Джобс) С помощью текстового редактора определите, сколько раз, не считая
                                сносок, встречается слово «Это» в тексте сказки Р. Киплинга «Маугли» в файле 10-j3.docx.
                                При подсчете не учитывать слова, в которые входит обозначенное и слова в другом
                                регистре, например, «это». В ответе укажите найденное количество.
                                11
                                document.write( '(№&nbsp;2081) ' );
                                document.write( changeImageFilePath('При регистрации в компьютерной системе каждому
                                пользователю выдаётся пароль, состоящий из 15 символов и содержащий только символы Е, Г,
                                Э, 2, 0, 1, 3. Каждый такой пароль в компьютерной программе записывается минимально
                                возможным и одинаковым целым количеством байт (при этом используют посимвольное
                                кодирование и все символы кодируются одинаковым и минимально возможным количеством бит).
                                Определите объём памяти в байтах, отводимый этой программой для записи 25 паролей.') );
                                (№ 2081) При регистрации в компьютерной системе каждому пользователю выдаётся пароль,
                                состоящий из 15 символов и содержащий только символы Е, Г, Э, 2, 0, 1, 3. Каждый такой
                                пароль в компьютерной программе записывается минимально возможным и одинаковым целым
                                количеством байт (при этом используют посимвольное кодирование и все символы кодируются
                                одинаковым и минимально возможным количеством бит). Определите объём памяти в байтах,
                                отводимый этой программой для записи 25 паролей.
                                12
                                document.write( '(№&nbsp;2135) ' );
                                document.write( changeImageFilePath('(С.С. Поляков) Исполнитель Редактор получает на
                                вход строку цифр и преобразовывает её. Редактор может выполнять две команды, в обеих
                                командах v и w обозначают цепочки цифр.<br/>
                                <pre>1. заменить (v, w)<br/>2. нашлось (v)Первая команда заменяет в строке первое слева вхождение цепочки v на цепочку w. Если цепочки v в строке нет, эта команда не изменяет строку. Вторая команда проверяет, встречается ли цепочка v в строке исполнителя Редактор. Если она встречается, то команда возвращает логическое значение «истина», в противном случае возвращает значение «ложь». Дана программа для исполнителя Редактор: <br/><pre>НАЧАЛО<br/>  ПОКА нашлось (111) ИЛИ нашлось (222)<br/>    заменить (111, 2)<br/>    заменить (222, 1)<br/>  КОНЕЦ ПОКА<br/>КОНЕЦКакая строка получится в результате применения приведённой программы к строке вида 1…12…2 (2018 единиц и 2019 двоек)?') );
  (№ 2135) (С.С. Поляков) Исполнитель Редактор получает на вход строку цифр и преобразовывает её. Редактор может выполнять две команды, в обеих командах v и w обозначают цепочки цифр.1. заменить (v, w)2. нашлось (v)Первая команда заменяет в строке первое слева вхождение цепочки v на цепочку w. Если цепочки v в строке нет, эта команда не изменяет строку. Вторая команда проверяет, встречается ли цепочка v в строке исполнителя Редактор. Если она встречается, то команда возвращает логическое значение «истина», в противном случае возвращает значение «ложь». Дана программа для исполнителя Редактор: НАЧАЛО  ПОКА нашлось (111) ИЛИ нашлось (222)    заменить (111, 2)    заменить (222, 1)  КОНЕЦ ПОКАКОНЕЦКакая строка получится в результате применения приведённой программы к строке вида 1…12…2 (2018 единиц и 2019 двоек)?
13
document.write( '(№&nbsp;2170) ' );
  document.write( changeImageFilePath('(А.Н. Носкин). На рисунке – схема дорог, связывающих города А, Б, В, Г, Д, Е, Ж, З, И, К, Л, М. По каждой дороге можно двигаться только в одном направлении, указанном стрелкой. Сколько существует различных путей, ведущих из города А в город Л и проходящих через город Ж, но НЕ проходящих через город Б?<br/><img
                                            src="2170.gif"/>') );
  (№ 2170) (А.Н. Носкин). На рисунке – схема дорог, связывающих города А, Б, В, Г, Д, Е, Ж, З, И, К, Л, М. По каждой дороге можно двигаться только в одном направлении, указанном стрелкой. Сколько существует различных путей, ведущих из города А в город Л и проходящих через город Ж, но НЕ проходящих через город Б?
14
document.write( '(№&nbsp;2231) ' );
  document.write( changeImageFilePath('(М.В. Кузнецова) Значение арифметического выражения: <tt>9<sup>7 + 3<sup>8 – 1 записали в системе счисления с основанием 3. Какая из цифр чаще всего встречается в полученном числе? В ответе укажите, сколько таких цифр в этой записи.') );
  (№ 2231) (М.В. Кузнецова) Значение арифметического выражения: 97 + 38 – 1 записали в системе счисления с основанием 3. Какая из цифр чаще всего встречается в полученном числе? В ответе укажите, сколько таких цифр в этой записи.
15
document.write( '(№&nbsp;2259) ' );
  document.write( changeImageFilePath('Обозначим через ДЕЛ(n, m) утверждение «натуральное число n делится без остатка на натуральное число m». Для какого наименьшего натурального числа А формула<br/><p
                                                class="formula">   (ДЕЛ(x, 45) &and; ¬ДЕЛ(x, 15)) &rarr; ¬ДЕЛ(x, A) тождественно истинна (то есть принимает значение 1 при любом натуральном значении переменной х)?') );
  (№ 2259) Обозначим через ДЕЛ(n, m) утверждение «натуральное число n делится без остатка на натуральное число m». Для какого наименьшего натурального числа А формула   (ДЕЛ(x, 45) ∧ ¬ДЕЛ(x, 15)) → ¬ДЕЛ(x, A) тождественно истинна (то есть принимает значение 1 при любом натуральном значении переменной х)?
16
document.write( '(№&nbsp;2287) ' );
  document.write( changeImageFilePath('Алгоритм вычисления значения функции F(n), где n – натуральное число, задан следующими соотношениями:<br/><pre>F(n) = n + 3, при n &le; 18<br/>F(n) = (n//3)*F(n//3) + n - 12, при n > 18, кратных 3<br/>F(n) = F(n-1) + n*n + 5, при n > 18, не кратных 3<br/>Здесь // обозначает деление нацело. Определите количество натуральных значений n из отрезка [1; 800], для которых все цифры значения F(n) чётные.') );
  (№ 2287) Алгоритм вычисления значения функции F(n), где n – натуральное число, задан следующими соотношениями:F(n) = n + 3, при n ≤ 18F(n) = (n//3)*F(n//3) + n - 12, при n > 18, кратных 3F(n) = F(n-1) + n*n + 5, при n > 18, не кратных 3Здесь // обозначает деление нацело. Определите количество натуральных значений n из отрезка [1; 800], для которых все цифры значения F(n) чётные.
17
document.write( '(№&nbsp;2291) ' );
  document.write( changeImageFilePath('Рассматривается множество целых чисел, принадлежащих отрезку [1033; 7737], которые делятся на 5 и не делятся на 11, 17, 19 и 23. Найдите количество таких чисел и максимальное из них. В ответе запишите два числа через пробел: сначала количество, затем максимальное число.') );
  (№ 2291) Рассматривается множество целых чисел, принадлежащих отрезку [1033; 7737], которые делятся на 5 и не делятся на 11, 17, 19 и 23. Найдите количество таких чисел и максимальное из них. В ответе запишите два числа через пробел: сначала количество, затем максимальное число.
18
document.write( '(№&nbsp;2348) ' );
  document.write( changeImageFilePath('Квадрат разлинован на N×N клеток (1 < N < 17). Исполнитель Робот может перемещаться по клеткам, выполняя за одно перемещение одну из двух команд: вправо или вверх. По команде вправо Робот перемещается в соседнюю правую клетку, по команде вверх – в соседнюю верхнюю. При попытке выхода за границу квадрата Робот разрушается. Перед каждым запуском Робота в каждой клетке квадрата лежит монета достоинством от 1 до 100. Посетив клетку, Робот забирает монету с собой; это также относится к начальной и конечной клетке маршрута Робота. <br/>Исходные данные записаны в файле <a
                                                    href="ege-dynxls/18-0.xls">18-0.xls в виде электронной таблице размером N×N, каждая ячейка которой соответствует клетке квадрата. Определите максимальную и минимальную денежную сумму, которую может собрать Робот, пройдя из левой НИЖНЕЙ клетки в правую ВЕРХНЮЮ. В ответе укажите два числа – сначала максимальную сумму, затем минимальную.') );
  (№ 2348) Квадрат разлинован на N×N клеток (1 < N < 17). Исполнитель Робот может перемещаться по клеткам, выполняя за одно перемещение одну из двух команд: вправо или вверх. По команде вправо Робот перемещается в соседнюю правую клетку, по команде вверх – в соседнюю верхнюю. При попытке выхода за границу квадрата Робот разрушается. Перед каждым запуском Робота в каждой клетке квадрата лежит монета достоинством от 1 до 100. Посетив клетку, Робот забирает монету с собой; это также относится к начальной и конечной клетке маршрута Робота. Исходные данные записаны в файле 18-0.xls в виде электронной таблице размером N×N, каждая ячейка которой соответствует клетке квадрата. Определите максимальную и минимальную денежную сумму, которую может собрать Робот, пройдя из левой НИЖНЕЙ клетки в правую ВЕРХНЮЮ. В ответе укажите два числа – сначала максимальную сумму, затем минимальную.
19 20 21
document.write( '(№&nbsp;2424) ' );
  document.write( changeImageFilePath('Два игрока, Петя и Ваня, играют в следующую игру. Перед игроками лежат две кучи камней. Игроки ходят по очереди, первый ход делает Петя. За один ход игрок может <b>добавить в одну из куч <b>один камень или <b>увеличить количество камней в куче <b>в два раза. Чтобы делать ходы, у каждого игрока есть неограниченное количество камней. Игра завершается в тот момент, когда суммарное количество камней в кучах становится не менее 61. Победителем считается игрок, сделавший последний ход, т. е. первым получивший позицию, в которой в кучах будет 61 или больше камней.<br/>В начальный момент в первой куче было 7 камней, во второй куче – S камней, 1 ≤ S ≤ 53. Будем говорить, что игрок имеет выигрышную стратегию, если он может выиграть при любых ходах противника. <br/>Ответьте на следующие вопросы:<br/>&nbsp;&nbsp;<b>Вопрос 1. Известно, что Ваня выиграл своим первым ходом после неудачного первого хода Пети. Назовите минимальное значение S, при котором это возможно.<br/>&nbsp;&nbsp;<b>Вопрос 2. Найдите два таких значения S, при которых у Пети есть выигрышная стратегия, причём Петя не может выиграть первым ходом, но может выиграть своим вторым ходом независимо от того, как будет ходить Ваня. Найденные значения запишите в ответе в порядке возрастания.  <br/>&nbsp;&nbsp;<b>Вопрос 3. Сколько существует значений S, при которых у Вани есть выигрышная стратегия, позволяющая ему выиграть первым или вторым ходом при любой игре Пети, и при этом у Вани нет стратегии, которая позволит ему гарантированно выиграть первым ходом.') );
  (№ 2424) Два игрока, Петя и Ваня, играют в следующую игру. Перед игроками лежат две кучи камней. Игроки ходят по очереди, первый ход делает Петя. За один ход игрок может добавить в одну из куч один камень или увеличить количество камней в куче в два раза. Чтобы делать ходы, у каждого игрока есть неограниченное количество камней. Игра завершается в тот момент, когда суммарное количество камней в кучах становится не менее 61. Победителем считается игрок, сделавший последний ход, т. е. первым получивший позицию, в которой в кучах будет 61 или больше камней.В начальный момент в первой куче было 7 камней, во второй куче – S камней, 1 ≤ S ≤ 53. Будем говорить, что игрок имеет выигрышную стратегию, если он может выиграть при любых ходах противника. Ответьте на следующие вопросы:  Вопрос 1. Известно, что Ваня выиграл своим первым ходом после неудачного первого хода Пети. Назовите минимальное значение S, при котором это возможно.  Вопрос 2. Найдите два таких значения S, при которых у Пети есть выигрышная стратегия, причём Петя не может выиграть первым ходом, но может выиграть своим вторым ходом независимо от того, как будет ходить Ваня. Найденные значения запишите в ответе в порядке возрастания.    Вопрос 3. Сколько существует значений S, при которых у Вани есть выигрышная стратегия, позволяющая ему выиграть первым или вторым ходом при любой игре Пети, и при этом у Вани нет стратегии, которая позволит ему гарантированно выиграть первым ходом.
22
document.write( '(№&nbsp;406) ' );
  document.write( changeImageFilePath('Укажите наибольшее из таких чисел x, при вводе которых алгоритм печатает сначала 3, а потом 120.<br/><table
                                                            class="code"><tr><th>Паскаль<th>Python<th>Си
var x, L, M: integer;begin  readln(x);  L:=0; M:=1;  while x > 0 do begin    L:=L+1;    M:= M*(x mod 8);    x:= x div 8;  end;  writeln(L); write(M);end.
x = int(input())L = 0 M = 1while x > 0 :   L = L+1  M = M*(x % 8)  x = x // 8print(L)print(M)
#include <stdio.h> int main(void){ int L, M, x;  scanf(″%d″, &x); L = 0; M = 1; while (x > 0) {   L = L + 1;   M = M*(x % 8);   x = x / 8; } printf(″%d\n%d″, L, M);}
var x, L, M: integer;begin  readln(x);  L:=0; M:=1;  while x > 0 do begin    L:=L+1;    M:= M*(x mod 8);    x:= x div 8;  end;  writeln(L); write(M);end.
x = int(input())L = 0 M = 1while x > 0 :   L = L+1  M = M*(x % 8)  x = x // 8print(L)print(M)
#include <stdio.h> int main(void){ int L, M, x;  scanf(″%d″, &x); L = 0; M = 1; while (x > 0) {   L = L + 1;   M = M*(x % 8);   x = x / 8; } printf(″%d\n%d″, L, M);}
23
document.write( '(№&nbsp;2503) ' );
  document.write( changeImageFilePath('(Т.В. Белова) Исполнитель Калькулятор преобразует число на экране. У исполнителя есть три команды, которым присвоены номера:<pre>1. Прибавить 1<br/>2. Умножить на 2<br/>3. Возвести в квадрат Программа для исполнителя Калькулятор&nbsp;&ndash; это последовательность команд. Сколько существует программ, для которых при исходном числе 2 результатом является число 38?') );
  (№ 2503) (Т.В. Белова) Исполнитель Калькулятор преобразует число на экране. У исполнителя есть три команды, которым присвоены номера:1. Прибавить 12. Умножить на 23. Возвести в квадрат Программа для исполнителя Калькулятор – это последовательность команд. Сколько существует программ, для которых при исходном числе 2 результатом является число 38?
24
document.write( '(№&nbsp;2557) ' );
  document.write( changeImageFilePath('Текстовый файл <a href="ege-sym/24-s1.txt">24-s1.txt состоит не более чем из 10<sup>6 заглавных латинских букв (A..Z). Текст разбит на строки различной длины. Определите количество строк, в которых встречается комбинация F*O, где звёздочка обозначает любой символ.') );
  (№ 2557) Текстовый файл 24-s1.txt состоит не более чем из 106 заглавных латинских букв (A..Z). Текст разбит на строки различной длины. Определите количество строк, в которых встречается комбинация F*O, где звёздочка обозначает любой символ.
25
document.write( '(№&nbsp;2563) ' );
  document.write( changeImageFilePath('Напишите программу, которая ищет среди целых чисел, принадлежащих числовому отрезку [3532000; 3532160], простые числа. Выведите все найденные простые числа в порядке возрастания, слева от каждого числа выведите его номер по порядку.') );
  (№ 2563) Напишите программу, которая ищет среди целых чисел, принадлежащих числовому отрезку [3532000; 3532160], простые числа. Выведите все найденные простые числа в порядке возрастания, слева от каждого числа выведите его номер по порядку.
26
document.write( '(№&nbsp;2648) ' );
  document.write( changeImageFilePath('Магазин предоставляет оптовому покупателю скидку по следующим правилам:<br/>− на каждый второй товар ценой больше 100 рублей предоставляется скидка 10%;<br/>− общая цена покупки со скидкой округляется вверх до целого числа рублей;<br/>− порядок товаров в списке определяет магазин и делает это так, чтобы общая сумма скидки была наименьшей.<br/>Вам необходимо определить общую цену закупки с учётом скидки и цену самого дорогого товара, на который будет предоставлена скидка.<br/><b>Входные данные. Первая строка входного файла <a
                                                                                href="ege-sort/26-s1.txt">26-s1.txt содержит число N – общее количество купленных товаров. Каждая из следующих N строк содержит одно целое число – цену товара в рублях. В ответе запишите два целых числа: сначала общую цену покупки с учётом скидки, затем цену самого дорогого товара, на который предоставлена скидка.<br/><b>Пример входного файла<pre>7<br/>225<br/>160<br/>380<br/>95<br/>192<br/>310<br/>60<br/>В данном случае товары с ценой 60 и 95 не участвуют в определении скидки, остальные товары магазину выгодно расположить в таком порядке цен: 380, 160, 225, 192, 310. Скидка предоставляется на товары ценой 160 и 192. Суммарная цена этих двух товаров со скидкой составит 316,8 руб., после округления&nbsp;&ndash; 317 руб. Общая цена покупки составит: 60 + 95 + 317 + 380 + 225 + 310 = 1387 руб. Самый дорогой товар, на который будет получена скидка, стоит 192&nbsp;руб. В ответе нужно записать числа 1387 и 192.') );
  (№ 2648) Магазин предоставляет оптовому покупателю скидку по следующим правилам:− на каждый второй товар ценой больше 100 рублей предоставляется скидка 10%;− общая цена покупки со скидкой округляется вверх до целого числа рублей;− порядок товаров в списке определяет магазин и делает это так, чтобы общая сумма скидки была наименьшей.Вам необходимо определить общую цену закупки с учётом скидки и цену самого дорогого товара, на который будет предоставлена скидка.Входные данные. Первая строка входного файла 26-s1.txt содержит число N – общее количество купленных товаров. Каждая из следующих N строк содержит одно целое число – цену товара в рублях. В ответе запишите два целых числа: сначала общую цену покупки с учётом скидки, затем цену самого дорогого товара, на который предоставлена скидка.Пример входного файла72251603809519231060В данном случае товары с ценой 60 и 95 не участвуют в определении скидки, остальные товары магазину выгодно расположить в таком порядке цен: 380, 160, 225, 192, 310. Скидка предоставляется на товары ценой 160 и 192. Суммарная цена этих двух товаров со скидкой составит 316,8 руб., после округления – 317 руб. Общая цена покупки составит: 60 + 95 + 317 + 380 + 225 + 310 = 1387 руб. Самый дорогой товар, на который будет получена скидка, стоит 192 руб. В ответе нужно записать числа 1387 и 192.
27
document.write( '(№&nbsp;2692) ' );
  document.write( changeImageFilePath('Имеется набор данных, состоящий из троек положительных целых чисел. Необходимо выбрать из каждой тройки ровно одно число так, чтобы сумма всех выбранных чисел делилась на 11 и при этом была минимально возможной. Гарантируется, что искомую сумму получить можно. Программа должна напечатать одно число – минимально возможную сумму, соответствующую условиям задачи.<br/><b>Входные данные. Даны два входных файла (<a
                                                                                    href="ege-stream/32/27-32a.txt">файл A и <a
                                                                                    href="ege-stream/32/27-32b.txt">файл B), каждый из которых содержит в первой строке количество троек N (1 ≤ N ≤ 100000). Каждая из следующих N строк содержит три натуральных числа, не превышающих 10 000.<br/><b>Пример входного файла:<br/><pre>6<br/>8 3 4<br/>4 8 12<br/>9 5 6<br/>2 8 3<br/>12 3 5<br/>1 4 12Для указанных входных данных значением искомой суммы должно быть число 22.<br/>В ответе укажите два числа: сначала искомое значение для файла А, затем для файла B.') );
  (№ 2692) Имеется набор данных, состоящий из троек положительных целых чисел. Необходимо выбрать из каждой тройки ровно одно число так, чтобы сумма всех выбранных чисел делилась на 11 и при этом была минимально возможной. Гарантируется, что искомую сумму получить можно. Программа должна напечатать одно число – минимально возможную сумму, соответствующую условиям задачи.Входные данные. Даны два входных файла (файл A и файл B), каждый из которых содержит в первой строке количество троек N (1 ≤ N ≤ 100000). Каждая из следующих N строк содержит три натуральных числа, не превышающих 10 000.Пример входного файла:68 3 44 8 129 5 62 8 312 3 51 4 12Для указанных входных данных значением искомой суммы должно быть число 22.В ответе укажите два числа: сначала искомое значение для файла А, затем для файла B.