1
<div>
    <p>На рисунке справа схема дорог Н-ского района изображена в виде графа, в таблице содержатся сведения о длинах этих
        дорог (в километрах).
    </p>
    <br/>
    <img src="https://kpolyakov.spb.ru/cms/images/1605.gif"/>
    <br/>
    <p>
        Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов в
        таблице никак не связана с буквенными обозначениями на графе. Известно, что длина кратчайшего пути из пункта A в
        пункт Ж превышает 30 километров. Определите длину кратчайшего пути между пунктами В и Е.') );
        (№ 1605) На рисунке справа схема дорог Н-ского района изображена в виде графа, в таблице содержатся сведения о
        длинах этих дорог (в километрах).Так как таблицу и схему рисовали независимо друг от друга, то нумерация
        населённых
        пунктов в таблице никак не связана с буквенными обозначениями на графе. Известно, что длина кратчайшего пути из
        пункта A в пункт Ж превышает 30 километров. Определите длину кратчайшего пути между пунктами В и Е.
    </p>
</div>

<div>
    Логическая функция F задаётся выражением ((y → x) ∨ (¬z ∧ w)) ≡ (w ≡ x).
    <br/>
    <img src="https://kpolyakov.spb.ru/cms/images/1635.gif"/>
    <br/>
    <p>На рисунке приведён частично
        заполненный фрагмент таблицы истинности функции F, содержащий неповторяющиеся строки. Определите, какому столбцу
        таблицы истинности функции F соответствует каждая из переменных x, y, z, w.
    </p>
</div>

<div>
    <p>
        В фрагменте базы данных представлены сведения о родственных отношениях. Определите ID человека, у которого
        в момент рождения была самая молодая бабушка.
    </p>
    <br/>
    <img src="https://kpolyakov.spb.ru/cms/images/1662.gif"/>')
</div>

<div>
    <p>
        По каналу связи передаются сообщения, содержащие только семь букв: А, Б, В, Г, Д, Е и Ж. Для передачи
        используется двоичный код, удовлетворяющий условию Фано. Для буквы А используется кодовое слово 1; для буквы Б
        используется кодовое слово 011. Какова минимальная общая длина кодовых слов для всех семи букв?
    </p>
</div>

<div>
    <p>На вход алгоритма подаётся натуральное число N. Алгоритм строит по нему новое число R следующим образом.</p>
    <br/>
    <pre>
        1) Строится двоичная запись числа N.
        2) Затем справа дописываются два разряда: символы 01, если
        число N чётное, и 10, если нечётное.
    </pre>
    <p>
        Полученная таким образом запись (в ней на два разряда больше, чем в записи
        исходного числа N) является двоичной записью искомого числа R. Укажите минимальное число N, после обработки
        которого
        автомат получает число, большее 138. В ответе это число запишите в десятичной системе.
    </p>
</div>


<div>
    Определите, при каком наибольшем введённом значении переменной s
    программа выведет число 256.<br/>
    <table class="code">
        <tbody>
        <tr>
            <th>Паскаль</th>
            <th>Python</th>
            <th>С++</th>
        </tr>
        <tr>
            <td class="pre">var s, n: integer;<br>begin<br> readln (s);<br> n := 1;<br> while s &lt; 208 do<br>
                begin<br> s
                := s + 20;<br> n := n * 2<br> end;<br> writeln(n)<br>end.<br></td>
            <td class="pre">s = int(input())<br>n = 1<br>while s &lt; 208:<br> s = s + 20<br> n = n * 2<br>print(n)<br>
            </td>
            <td class="pre">#include &lt;iostream&gt;<br>using namespace std;<br>int main() { <br>int s, n = 1;<br>cin
                &gt;&gt;
                s; <br>while (s &lt; 208) {<br> s = s + 20;<br> n = n * 2;<br> }<br>cout &lt;&lt; n &lt;&lt; endl;<br>return
                0;<br>}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <p>
        Музыкальный фрагмент был записан в формате моно, оцифрован и сохранён в виде файла без
        использования сжатия данных. Размер полученного файла – 25 Мбайт. Затем тот же музыкальный
        фрагмент был записан повторно в формате стерео (двухканальная запись) и оцифрован с разрешением
        в 5 раз выше и частотой дискретизации в 2,5 раза меньше, чем в первый раз. Сжатие данных не
        производилось. Укажите размер файла в Мбайт, полученного при повторной записи.
    </p>
</div>

<div>
    <p>
        Петя составляет шестибуквенные слова перестановкой букв слова ЧИУАУА.
        Сколько всего различных слов может составить Петя?
    </p>
</div>

<div>
    <p>
        Откройте файл электронной <a href="https://kpolyakov.spb.ru/cms/files/ege-xls/9-0.xls">таблицы</a>
        содержащей результаты ежечасного измерения температуры
        воздуха на протяжении трёх месяцев. Определите, сколько раз за время наблюдений суточные
        колебания температуры (разность между максимальной и минимальной температурой в течение
        суток) не превышали 15 градусов.
    </p>
</div>

<div>
    <p>
        С помощью текстового редактора определите,
        сколько слов содержит комбинацию букв «ее» в тексте романа Л.Н.Толстого «Анна
        Каренина» в <a href="https://kpolyakov.spb.ru/cms/files/ege-txt/10-j4.docx">файле</a> При подсчете не учитывать слово
        «ее». В ответе укажите найденное количество.
    </p>
</div>

<div>
    <p>
        При регистрации в компьютерной системе каждому
        пользователю выдаётся пароль, состоящий из 15 символов и содержащий только символы К, О,
        М, П, Ь, Ю, Т, Е, Р. Каждый такой пароль в компьютерной программе записывается
        минимально возможным и одинаковым целым количеством байт (при этом используют
        посимвольное кодирование и все символы кодируются одинаковым и минимально возможным
        количеством бит). Определите объём памяти в байтах, отводимый этой программой для записи
        30 паролей
    </p>
</div>

<div>
    <p>
        Исполнитель Редактор получает на
        вход строку цифр и преобразовывает её. Редактор может выполнять две команды, в обеих
        командах v и w обозначают цепочки цифр.<br/>
    <pre>
    1. заменить (v, w)<br/>
    2. нашлось (v)
    </pre>
    Первая команда заменяет в строке первое слева вхождение цепочки v на цепочку w. Если цепочки v в строке нет, эта
    команда не изменяет строку. Вторая команда проверяет, встречается ли цепочка v в строке исполнителя Редактор. Если
    она встречается, то команда возвращает логическое значение «истина», в противном случае возвращает значение «ложь».
    Дана программа для исполнителя Редактор: <br/>
    <pre>НАЧАЛО<br/>  ПОКА нашлось (111)<br/>    заменить (111, 2)<br/>    заменить (222, 1)<br/>  КОНЕЦ ПОКА<br/>КОНЕЦ</pre>

    Какая строка получится в результате применения приведённой программы к строке вида 1…12…2 (2018 единиц и 2019
    двоек)?
    </p>
</div>

<div>
    <p>
        На рисунке – схема дорог, связывающих города А, Б, В, Г, Д, Е, Ж, З, И, К, Л. По каждой дороге можно двигаться
        только в одном направлении, указанном стрелкой. Сколько существует различных путей, ведущих из города А в город
        Л и
        проходящих через город Ж, но НЕ проходящих через город З?
        <br/><img src="https://kpolyakov.spb.ru/cms/images/2171.gif"/>') );
    </p>
</div>

<div>
    <p>
        Значение арифметического выражения: <tt>9<sup>7</sup> + 3<sup>8</sup> – 5</tt>
        записали в системе счисления с основанием 3. Какая из цифр реже всего встречается в полученном числе? В ответе
        укажите, сколько таких цифр в этой записи.
    </p>
</div>

<div>
    <p>
        Обозначим через ДЕЛ(n, m) утверждение «натуральное число n делится без остатка
        на натуральное число m». Для какого наименьшего натурального числа А формула
    </p>
    <p> (ДЕЛ(x, A) ∧ ДЕЛ(x, 24) ∧ ¬ДЕЛ(x, 16)) → ¬ДЕЛ(x, A) </p>
    <p>
        тождественно истинна (то есть принимает значение 1 при любом натуральном значении переменной х)?
    </p>
</div>

<div>
    <p>
        Алгоритм вычисления значения функции F(n), где n – натуральное число, задан следующими соотношениями:
    </p>
    <pre>F(n) = n + 15, при n ≤ 5<br>F(n) = F(n//2) + n*n*n - 1, при чётных n &gt; 5<br>F(n) = F(n-1) + 2*n*n + 1, при нечётных n &gt; 5<br></pre>
    <p>
        Здесь // обозначает деление нацело. Определите количество натуральных значений n из отрезка [1; 1000], для
        которых значение F(n) содержит не менее двух цифр 8.
    </p>
</div>

<div>
    <p>
        Рассматривается множество целых чисел, принадлежащих числовому отрезку [1016; 7937], которые делятся на 3 и не
        делятся на 7, 17, 19, 27. Найдите количество таких чисел и максимальное из них. В ответе запишите два целых
        числа: сначала количество, затем максимальное число.
    </p>
</div>


<div>
    <p>
        Квадрат разлинован на N×N клеток (1 < N < 17). Исполнитель Робот может перемещаться по клеткам, выполняя за одно
        перемещение одну из двух команд: вправо или вниз. По команде вправо Робот перемещается в соседнюю правую клетку,
        по команде вниз – в соседнюю нижнюю. При попытке выхода за границу квадрата Робот разрушается. Перед каждым
        запуском Робота в каждой клетке квадрата лежит монета достоинством от 1 до 100. Посетив клетку, Робот забирает
        монету с собой; это также относится к начальной и конечной клетке маршрута Робота.
    </p>
    <p>
        Исходные данные записаны в <a href="https://kpolyakov.spb.ru/cms/files/ege-dynxls/18-0.xls">файле</a> в виде
        электронной таблице размером N×N, каждая ячейка которой
        соответствует
        клетке квадрата. Определите максимальную и минимальную денежную сумму, которую может собрать Робот, пройдя из
        левой
        верхней клетки в правую нижнюю. В ответе укажите два числа – сначала максимальную сумму, затем минимальную.
    </p>
</div>

<div>
    <p>
        Два игрока, Петя и Ваня, играют в следующую игру. Перед игроками лежат две кучи
        камней. Игроки ходят по очереди, первый ход делает Петя. За один ход игрок может <b>добавить</b> в одну из куч
        <b>один камень</b> или <b>увеличить</b> количество камней в куче <b>в два раза</b>. Чтобы делать ходы, у каждого
        игрока есть
        неограниченное количество камней. Игра завершается в тот момент, когда суммарное количество камней в кучах
        становится не менее 61. Победителем считается игрок, сделавший последний ход, т. е. первым получивший
        позицию, в которой в кучах будет 61 или больше камней.
    </p>
    <p>
        В начальный момент в первой куче было 10 камней,
        во второй куче – S камней, 1 ≤ S ≤ 50. Будем говорить, что игрок имеет выигрышную стратегию, если он может
        выиграть при любых ходах противника.
    </p>
    Ответьте на следующие вопросы:<br/>
    <p>
        <b>Вопрос 1.</b>
        Известно, что Ваня выиграл своим первым ходом после неудачного первого хода Пети. Назовите минимальное
        значение S, при котором это возможно.
    </p>
    <p>
        <b>Вопрос 2.</b> Найдите два таких значения S, при
        которых у Пети есть выигрышная стратегия, причём Петя не может выиграть первым ходом, но может
        выиграть своим вторым ходом независимо от того, как будет ходить Ваня. Найденные значения запишите в
        ответе в порядке возрастания.
    </p>
    <p>
        <b>Вопрос 3.</b> Сколько существует значений S, при
        которых у Вани есть выигрышная стратегия, позволяющая ему выиграть первым или вторым ходом при
        любой игре Пети, и при этом у Вани нет стратегии, которая позволит ему гарантированно выиграть
        первым ходом.
    </p>
</div>

<div>
    <p>
        Ниже записан алгоритм. Получив на вход число x, этот алгоритм печатает число M. Известно, что x > 100. Укажите
        наименьшее такое (т.е. большее 100) число x, при вводе которого алгоритм печатает 26.
    </p>

    <table class="code">
        <tbody>
        <tr>
            <th>Паскаль</th>
            <th>Python</th>
            <th>Си</th>
        </tr>
        <tr>
            <td class="pre">var x, L, M: integer;<br>begin<br> readln(x);<br> L := x;<br> M := 65;<br> if L mod 2 = 0
                then<br> M := 52;<br> while L &lt;&gt; M do<br> if L &gt; M then<br> L := L - M<br> else<br> M := M – L;<br>
                writeln(M);<br>end.
            </td>
            <td class="pre">x = int(input())<br>L = x<br>M = 65<br>if L % 2 == 0:<br> M = 52<br>while L != M:<br> if L
                &gt; M:<br> L = L - M<br> else:<br> M = M - L<br>print(M)
            </td>
            <td class="pre">#include &lt;stdio.h&gt;<br>void main()<br>{<br> int x, L, M;<br> scanf("%d", &amp;x);<br> L
                = x; M = 65;<br> if (L % 2 == 0) M = 52;<br> while (L != M) {<br> if(L &gt; M)<br> L = L - M;<br>
                else<br> M = M - L;<br> }<br> printf("%d", M);<br>}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <p>
        Исполнитель Калькулятор преобразует число на экране. У исполнителя есть три команды, которым присвоены номера:
    </p>
    <pre>
        1. Прибавить 1
        2. Прибавить 3
        3. Возвести в квадрат
    </pre>
    <p>
        Программа для исполнителя Калькулятор – это последовательность
        команд. Сколько существует программ, для которых при исходном числе 2 результатом является число 19?
    </p>
</div>

<div>
    <p>
        Текстовый <a href="https://kpolyakov.spb.ru/cms/files/ege-sym/24-s1.txt">файл</a> состоит не более чем из
        10<sup>6</sup> заглавных латинских букв (A..Z). Текст разбит на строки различной длины. Определите количество
        строк, в которых встречается комбинация A*R, где
        звёздочка обозначает любой символ.
    </p>
</div>


<div>
    <p>
        Напишите программу, которая ищет среди целых чисел,
        принадлежащих числовому отрезку [174457; 174505], числа, имеющие ровно два различных натуральных делителя, не
        считая
        единицы и самого числа. Для каждого найденного числа запишите эти два делителя в таблицу на экране с новой
        строки в
        порядке возрастания произведения этих двух делителей. Делители в строке таблицы также должны следовать в порядке
        возрастания.
    </p>
</div>

<div>
    <p>Магазин предоставляет оптовому покупателю скидку по следующим правилам:</p>
    <pre>
            − на каждый второй товар ценой больше 150 рублей предоставляется скидка 20%;
            − общая цена покупки со скидкой округляется вверх до целого числа рублей;
            − порядок товаров в списке определяет магазин и делает это так, чтобы общая сумма скидки была наименьшей.
        </pre>
    <p>
        Вам необходимо определить общую цену закупки с учётом скидки и цену
        самого
        дорогого товара, на который будет предоставлена скидка.
    </p>
    <p>
        <b>Входные данные.</b> Первая строка входного
        <a href="ege-sort/26-s1.txt">файла</a>
        содержит число N – общее количество купленных товаров. Каждая из
        следующих N строк содержит одно целое число – цену товара в рублях. В ответе запишите два целых числа: сначала
        общую цену покупки с учётом скидки, затем цену самого дорогого товара, на который предоставлена скидка.
    </p>
    <b>Пример входного файла</b>
    <pre>
        7
        225
        160
        380
        95
        192
        310
        60
    </pre>
    <p>
        В данном случае товары с ценой 60 и 95 не участвуют в определении скидки, остальные товары магазину выгодно
        расположить в таком порядке цен: 380, 160, 225, 192, 310. Скидка предоставляется на товары ценой 160 и 192.
        Суммарная цена этих двух товаров со скидкой составит 281,6 руб., после округления - 282 руб. Общая
        цена покупки составит: 60 + 95 + 282 + 380 + 225 + 310 = 1352 руб. Самый дорогой товар, на который будет
        получена скидка, стоит 192 руб. В ответе нужно записать числа 1352 и 192.
    </p>
</div>


<div>
    <p>
        Имеется набор данных, состоящий из троек положительных целых чисел. Необходимо выбрать из каждой тройки
        <b>два числа</b> так, чтобы сумма всех выбранных чисел делилась на 4 и при этом была максимально возможной.
        Гарантируется,
        что искомую сумму получить можно. Программа должна напечатать одно число – максимально возможную сумму,
        соответствующую условиям задачи.
    </p>
    <p>
        <b>Входные данные.</b>
        Даны два входных файла (<a href="https://kpolyakov.spb.ru/cms/files/ege-stream/33/27-33a.txt">файл A</a> и <a
            href="https://kpolyakov.spb.ru/cms/files/ege-stream/33/27-33b.txt">файл B</a>),
        каждый из которых содержит в первой строке количество троек N
        (1 ≤ N ≤ 100000). Каждая из следующих N строк содержит три натуральных числа, не превышающих 10 000.
    </p>
    <b>Пример входного файла:</b><br/>
    <pre>
        6
        8 3 4
        4 8 12
        9 5 6
        2 8 3
        12 3 5
        1 4 12
    </pre>
    <p>
        Для указанных входных данных значением искомой суммы должно быть число 88.
        В ответе укажите два числа: сначала искомое значение для файла А, затем для файла B.
    </p>
</div>
