.card {
    border-radius: 20px;
}
.variants-page .card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 40px;
}
.variants-page .card-content h3 {
    margin: 0 0 20px 0;
}
.variants-page .card-content h5 {
    margin: 20px 0;
}
.variants-page .card-description {
    font-size: 20px;
    line-height: 110%;
}
.variants {
    display: flex;
    flex-wrap: wrap;
}

.variants li {
    text-decoration: none;
    list-style-type: none;
}

.variant {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #2196f3;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.variant:hover {
    transition: .5s linear;
    color: #13d026;
    border: 1px solid #13d026;
}
.educationSvg {
    width: 300px;
    height: 300px;
}
.img {
    width: 300px;
    height: 300px;
}